################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json

# AppSettings with sensitive data
**/appsettings.json
**/appsettings.*.json
!**/appsettings.Development.json.example
