@using Enrich.Web.ViewModels
@model BundleIndexViewModel

@{
    ViewData["Title"] = "My Collections";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/collections.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/collections.min.css" asp-append-version="true" />
    </environment>
}

<div class="container-fluid py-4">
    <div class="row align-items-start">
        <div class="col-lg-9">
            <div class="d-flex flex-wrap gap-3 mb-3 align-items-center">
                <div class="input-group flex-grow-1 search-box overflow-hidden" style="max-width: 600px;">
                    <span class="input-group-text border-0 bg-transparent ps-3">
                        <i class="bi bi-search text-muted"></i>
                    </span>
                    <input type="text" id="searchTerm" class="form-control border-0 bg-transparent p-2"
                           placeholder="Search collections..." value="" onkeyup="debounceSearch()">
                </div>

                <button class="btn btn-action ms-auto">
                    <i class="bi bi-sort-down me-2"></i> Sort by
                </button>
            </div>

            <div class="mb-4 text-start">
                <a asp-action="Create" asp-controller="Bundle" class="btn btn-success rounded-4 py-2 px-4 custom-btn">
                    <i class="bi bi-plus-lg me-1"></i> Add new collection
                </a>
            </div>

            <div id="bundles-list-container" data-page-size="@Model.PageSize">
                <partial name="_MyBundleListPartial" model="Model.Bundles" />
            </div>
        </div>

        <div class="col-lg-3 ps-lg-4">
            <partial name="_CollectionFiltersPartial" model="Model.Categories" />
        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/my-collections.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/my-collections.min.js" asp-append-version="true"></script>
    </environment>
}
