<h4 class="mb-4 fw-normal fs-4 text-dark">Interface Settings</h4>

<form class="settings-form">
    <div class="mb-4">
        <label class="form-label mb-1">Language</label>
        <select class="form-select py-2" aria-label="Select language">
            <option value="en" selected>English</option>
            <option value="uk">Українська</option>
        </select>
    </div>

    <div class="mb-5">
        <label class="form-label mb-1">Theme</label>
        <select class="form-select py-2" aria-label="Select theme">
            <option value="light" selected>Light</option>
            <option value="dark">Dark</option>
        </select>
    </div>

    <button type="button" class="btn btn-action-success">Save changes</button>
</form>
