<h4 class="mb-4 fw-normal fs-4 text-dark">Interface Settings</h4>

<form class="settings-form">
    <div class="mb-3">
        <label class="form-label mb-1">Language</label>
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle rounded-4 py-2 w-100 text-start d-flex justify-content-between align-items-center bg-white text-dark shadow-sm" 
                    type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-color: #dee2e6;">
                English
            </button>
            <ul class="dropdown-menu w-100 shadow border-0 mt-1 rounded-4">
                <li><a class="dropdown-item active bg-success text-white rounded-4 mx-1 px-3 py-2" style="width: auto;" href="#">English</a></li>
                <li><a class="dropdown-item rounded-4 mx-1 px-3 py-2" style="width: auto;" href="#">Українська</a></li>
            </ul>
        </div>
    </div>

    <div class="mb-4">
        <label class="form-label mb-1">Theme</label>
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle rounded-4 py-2 w-100 text-start d-flex justify-content-between align-items-center bg-white text-dark shadow-sm" 
                    type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-color: #dee2e6;">
                Light
            </button>
            <ul class="dropdown-menu w-100 shadow border-0 mt-1 rounded-4">
                <li><a class="dropdown-item active bg-success text-white rounded-4 mx-1 px-3 py-2" style="width: auto;" href="#">Light</a></li>
                <li><a class="dropdown-item rounded-4 mx-1 px-3 py-2" style="width: auto;" href="#">Dark</a></li>
            </ul>
        </div>
    </div>

    <button type="button" class="btn btn-action-success rounded-4 shadow-sm">Save changes</button>
</form>
