.custom-focus:focus {
    border-color: #86b7fe !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075) !important;
    outline: none;
}

#category-display:focus {
    border-color: #dee2e6 !important;
    box-shadow: none !important;
    outline: none !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #f8f9fa !important;
    color: #212529 !important;
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-item.selected-item {
    background-color: #1a7b54 !important;
    color: #ffffff !important;
    font-weight: 500;
    border-radius: 1rem !important;
}

    .dropdown-item.selected-item:hover,
    .dropdown-item.selected-item:focus {
        background-color: #145c3f !important;
        color: #ffffff !important;
    }

#category-dropdown {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

    #category-dropdown::-webkit-scrollbar {
        display: none;
    }

.btn-action-success {
    background-color: #1a7b54 !important;
    border-color: #1a7b54 !important;
    transition: all 0.2s ease-in-out;
}

    .btn-action-success:hover {
        background-color: #145c3f !important;
        border-color: #145c3f !important;
        transform: translateY(-1px);
    }
