@inject IViewLocalizer L

<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">Enrich</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#appNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="appNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Words" asp-action="Index">@L["Nav.MyWords"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Bundles" asp-action="Index">@L["Nav.Bundles"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Community" asp-action="Index">@L["Nav.Community"]</a>
                </li>
            </ul>
            <div class="d-flex align-items-center gap-2">
                <a asp-controller="Profile" asp-action="Index" class="btn btn-sm btn-outline-secondary">
                    @L["Nav.Profile"]
                </a>
            </div>
        </div>
    </div>
</nav>
